<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sipjs.cordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>sipjs-cordova</name>
    <description>
        A proof-of-concept SIP.js mobile app that uses PhoneRTC for media handling.
    </description>
    <author email="joseph@onsip.com" href="https://github.com/joseph-onsip">
        Joseph Frazier
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
